@import "../../styles/var";

.modal {
  overflow: hidden;
  color: "white";
  backdrop-filter: blur(10px);
  border-radius: 12px;
  background: transparent;
  z-index: 100;
}

.selector-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  overflow: scroll;
  color: $font-dark;
}

.selector-element {
  padding: 20px 16px;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  cursor: pointer;
}
