@import "../../../styles/var";

.dropdown-container {
  position: relative;
}

.dropdown {
  color: $font-dark !important;
  font-size: 12px;
  position: absolute;
  top: -196px;
  right: 0%;
  height: 32px;
  padding: 6px 12px;
  border-radius: 100px;
  border: 1px solid $border-grey;
  backdrop-filter: blur(10px);
  width: 80px;
}
.dropdown:hover {
  opacity: 0.9;
}

.dropdownHeading {
  display: flex;
  justify-content: space-between;
}
.selectAll {
  display: flex;
  height: 32px;
  padding: 6px 12px;
  color: $font-dark;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 100px;
  border: 1px solid $border-grey;
  backdrop-filter: blur(10px);
  margin-bottom: 24px;
}
.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.dropdownItem {
  margin-bottom: 0;
  width: 100%;
}
