@import "../../styles/var";

.header-title {
  min-width: 235px !important;
  width: inherit !important;
}

:global {
  .headerSection {
    margin-left: 68px !important;
    padding-right: 25px !important;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  label {
    color: $font-secondary;
  }
  input:read-only {
    color: $font-dark;
  }
}

.formFeedback {
  margin-top: 0px !important;
  position: relative !important;
  font-size: 14px !important;
}

.formGroup {
  margin-bottom: 1rem;
}

.txnPayloadInput {
  min-height: 200px;
  max-height: 200px;
}

.txnPayloadSignatureInput {
  min-height: 100px;
  max-height: 100px;
}

.inputLabel {
  color: $font-secondary;
  font-weight: 500;
  font-size: 14px;
}

.transactionDetailsRow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  color: black;
}

.jsonPreview {
  white-space: pre-wrap;
  word-break: break-word;
  font-family: monospace;
  font-size: 12px;
  padding: 8px;
  border-radius: 6px;
  color: $font-dark;
}

.radioItemLabel {
  font-size: 14px;
}

.accountInputFormGroup {
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 8px 12px;

  label {
    margin-bottom: 0px !important;
    color: rgba($font-dark, 0.8) !important;
  }

  input {
    height: fit-content;
    border: none !important;
    color: rgba($font-dark, 0.8) !important;
    background-color: #f3f3f3 !important;
    padding: 6px;
    padding-left: 0px !important;
  }
}

.offlineSigningInputField {
  display: flex;
  margin-top: 8px;
  column-gap: 6px;
  align-items: center;

  input {
    width: 180px;
  }
}
