@import "../../styles/var";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  label {
    color: $font-secondary;
  }
  input:read-only {
    color: $font-dark;
  }
}

.formFeedback {
  margin-top: 0px !important;
  position: relative !important;
  font-size: 14px !important;
}

.formGroup {
  margin-bottom: 1rem;
}

.txnPayloadInput {
  min-height: 250px;
  max-height: 250px;
}

.inputLabel {
  color: $font-secondary;
  font-weight: 500;
  font-size: 14px;
}

.transactionDetailsRow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  color: black;
}
