@import "../../../styles/var";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.formGroup {
  margin-bottom: 0.5rem !important;
}

.input {
  background: transparent !important;
  color: $font-dark !important;
  margin-bottom: 16px;
  box-shadow: none !important;
  border: 1px solid #d0d1d1 !important;
}

.input:read-only {
  background: $bg-grey !important;
}

.input:focus {
  color: $font-dark !important;
  border: 1px solid $border-sky-focus !important;
}
.label {
  color: $font-dark;
  font-family: $font-family-base;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
