@import "../../../styles/var";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.inputField,
.inputField:focus {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-grey;
    border-radius: 100%;
    width: 90px;
    height: 90px;
  }

  .imgLock {
    height: 36px;
    width: 36px;
  }

  p {
    color: $font-grey;
    text-align: center;
    font-family: $font-family-base;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.8;
    width: 255px;
  }
}
.heading {
  color: $font-dark;
  text-align: center;
  font-family: $font-family-base;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 6px;
}

.alert {
  display: flex;
  padding: 12px 18px;
  align-items: baseline;
  gap: 6px;
  align-self: stretch;
  border-radius: 12px;
  background: $bg-red-base;
  border: none;
  color: $font-dark;
  margin-bottom: 15px;

  .textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;

    .warningIcon {
      height: 14px;
      width: 14px;
    }
  }

  i {
    font-size: 24px;
    margin-right: 8px;
  }

  h1 {
    font-size: 16px;
    font-weight: bold;
    color: #32325d;
    margin-bottom: 4px;
  }

  p {
    font-size: 14px;
    line-height: 1.57;
    margin: 0;
  }
  .text {
    color: $font-dark;
    font-family: $font-family-base;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
  }
}

.confimation-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.confimation-text-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  text-align: center;

  .confirmation-title {
    color: $font-dark;
    text-align: center;
    font-family: $font-family-base;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
  }

  .confirmation-subTitle {
    color: $font-dark;
    opacity: 0.8;
    text-align: center;
    font-family: $font-family-base;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
  }
}

.confirmation-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
}
