@import "../../../styles/var";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  gap: "24px";

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 20px;
  }
}

.alert {
  display: flex;
  padding: 12px;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  border: transparent;
  border-radius: 12px;
  background: $bg-red-base;
  backdrop-filter: blur(15px);
  color: $font-dark;

  box-shadow: 0px -10px 30px 0px $bg-red-base inset,
    0px 1px 2px 0px $bg-red-base inset, 0px -1px 2px 0px $bg-red-base inset;

  i {
    font-size: 24px;
    margin-right: 8px;
  }

  img {
    padding-top: 4px;
  }

  h1 {
    font-size: 16px;
    font-weight: bold;
    color: #32325d;
    margin-bottom: 4px;
  }

  p {
    font-size: 14px;
    line-height: 1.57;
    margin: 0;
  }
  .text {
    color: $font-dark;
    font-family: $font-family-base;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
  }
  .lightText {
    color: $font-dark;
    font-family: $font-family-base;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}

.message {
  color: $font-dark;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
}
