@import "../../styles/var";

.depositModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.depositTitle {
  color: $font-dark;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.depositSubtitle {
  opacity: 0.8;
  font-size: 14px;
  font-weight: 400;
  color: $font-grey;
}
.depositWarning {
  img {
    width: 16px;
    height: 16px;
    margin-top: 4px;
  }
  display: flex;
  margin: 24px 0px;
  //   margin-bottom: 5px;
  color: $font-dark;
  font-size: 14px;
  border-radius: 12px;
  background: $bg-red-base;
  backdrop-filter: blur(15px);
  display: flex;
  padding: 12px;
  align-items: flex-start;
  gap: 16px;
  font-weight: 400;
}
