@import "../../../styles/var";

.btnLight {
  color: $font-grey;
  background: transparent;
  border: 1px solid $bg-grey-dark;
}

.btnDark {
  color: white;
  background: $bg-dark;
  border: 1px solid transparent;
}

.btn {
  font-family: $font-family-base;
  font-size: 16px;
  border-radius: 100px;
  margin-top: 18px;
  padding: 10px 12px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  height: 56px;
  line-height: normal;
  cursor: pointer;
  &[data-loading="true"] {
    color: inherit !important;
    pointer-events: none !important;
  }
  &[data-loading="true"]::after {
    display: none !important;
  }
}

.btn:disabled {
  cursor: not-allowed;
  border-radius: 100px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}

.btnBgDisabled {
  background-color: #1a2753;
  opacity: 1 !important;
}

.gradient {
  background: $gradient;
  -webkit-background-clip: text;
  color: transparent;
}
