@import "../../../styles/var";
/// To add bottom space for send button
// .form-container {
//   height: 100%;
// }

.formContainer {
  height: 100%;
}

.formInnerContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chainSelector {
  width: 100%;
  height: 46px;

  button {
    width: 100%;
  }

  :global(.dropdown-menu.show) {
    width: 100%;
  }
}

.alert {
  display: flex;
  padding: 12px;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  border-radius: 12px;
  background: $bg-red-base;
  border: none !important;
  color: $font-dark;
  margin-top: 24px;

  i {
    font-size: 24px;
    margin-right: 8px;
  }

  img {
    padding-top: 4px;
  }

  h1 {
    font-size: 16px;
    font-weight: bold;
    color: $font-dark;
    margin-bottom: 4px;
  }

  p {
    font-size: 14px;
    line-height: 1.57;
    margin: 0;
  }
  .text {
    color: $font-dark;
    font-family: $font-family-base;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
  }
  .lightText {
    color: $font-dark;
    font-family: $font-family-base;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.6;
  }
}
