@import "../../styles/var";

.innerTopContainer {
  display: flex;
  margin: 0 $layout-padding;
  background: transparent;
  min-height: 43px;
}
.container {
  background: transparent !important;
}
.fullModal {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  border: 0;
  margin: 0;
  padding: 0;

  &:global(.modal-content) {
    box-shadow: none;
  }
}
.loader {
  text-align: center;
  color: #808da0;
  font-size: 18px;
  padding-top: 15px;
}

.dropdownWrapper {
  height: 400px;
  overflow-y: scroll;
}
.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.label {
  color: $font-secondary;
  font-size: 14px;
  margin-bottom: 0px;
}
.input {
  background: transparent;
  color: $font-secondary;
  border-radius: 12px;
  margin-bottom: 0px;
  &::placeholder {
    font-weight: bold;
  }
}
.input:focus {
  color: rgba($font-dark, 0.8);
}

.rightIcon {
  height: 10px;
}

.rightIconContainer {
  margin-left: 6px;
  border: 1px solid $neutral;
  border-radius: 6px;
  padding: 0px 5px 1px;
}
