@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";
@import "../../styles/var";

.modal {
  padding: 15px 12px 15px;
  background-color: white;
  color: $font-dark;
}

.modalBackdrop {
  background: rgba($bg-dark, 0.6);
  backdrop-filter: blur(3px);
  opacity: 1 !important;
}

.modalDialog {
  @include media-breakpoint-down(xs) {
    margin: 20px;

    &:global(.modal-dialog-centered) {
      height: calc(100% - (32px * 2));
      min-height: unset;
    }
  }
}

.dialog {
  .bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 15px 12px;

    img {
      filter: invert(1);
    }

    h1 {
      text-align: center;
      font-size: 1.15rem;
      color: $font-dark;
      font-weight: bold;
      margin: 0;
    }

    p {
      margin-bottom: 0;
      text-align: center;
      font-size: 0.9rem;
      color: $font-secondary;
      font-weight: normal;
      line-height: 1.4;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    button {
      width: 80px;

      &:global(.btn-outline-default):not(:hover) {
        color: $gray-600;
        border-color: $gray-600;
      }
    }
  }
}
