@import "../../../styles/var";

.redelegate-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: $font-dark;
  font-weight: 600;
  font-size: 14px;
}

.current-stake {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12px;

  & .current-stake-label {
    color: $font-secondary;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    margin: 6px 0px;
  }

  & .current-stake-value {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: $font-secondary;
    line-height: 17.5px;
    border-radius: 12px;
    padding: 0px 12px;
    background-color: $card-bg;
    height: 45px;
  }
}

.label {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $font-secondary;
}

.row-outer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.searchContainer {
  margin: 6px 0px 0px 0px;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: $card-bg;
  border-radius: 8px;

  .searchBox {
    display: flex;
    padding: 12px 18px;
    flex: 1;
    align-items: center;
    gap: 10px;
    img {
      width: 16px;
      height: 16px;
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
    }
    input {
      background: transparent;
      border: none;
      outline: none;
      color: $font-dark;
      &::placeholder {
        color: $font-secondary;
        font-weight: 400;
      }
      flex-grow: 1;
    }
  }
}

.sort-selector {
  margin: 16px 0px;
  display: flex;
  height: 32px;
  padding: 6px 12px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  border: 1px solid $bg-grey-dark;
  backdrop-filter: blur(10px);
  color: $font-secondary;
  font-size: 14px;
  font-weight: 400;

  .sort-by {
    color: $font-secondary;
    margin-left: 8px;
  }

  & > div {
    color: $font-dark;
  }
}

.choose-validator-outer-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.choose-validator-inner-container {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  border-radius: 12px;
  justify-content: space-between;
  background-color: white;
  border: 1px solid $border-grey;
  color: $font-dark;
}

.choose-validator-heading {
  color: $font-dark;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.fromValidatorInput {
  height: 48px !important;
  & > input {
    font-size: 14px !important;
    padding-left: 18px !important;
  }
}

.loading-message {
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font-secondary;
}
