@import "../../styles/var";

.emptyLayout {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: $font-family-base;
  height: 100%;

  .header {
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    color: $font-dark;
  }

  .paragraph {
    text-align: center;
    padding: 0 24px;
    overflow-y: auto;
    color: $font-secondary;
  }

  .permission {
    margin-top: 30px;
    font-size: 14px;
    color: $font-secondary;
    text-align: center;
  }

  ul {
    list-style: none;
    font-size: 14px;
    padding: 0;
    width: fit-content;
    margin: auto;
    color: $font-secondary;

    li:before {
      content: "- ";
    }
  }

  .buttons {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
  }

  .button {
    flex: 1;
  }
}
