@import "../../styles/var";

.line-graph {
  height: 118px;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  color: $font-secondary !important;
  margin-bottom: -9px;
}

.line-graph-sidepanel {
  height: 180px;
}

.graph-container {
  // position: absolute;
  width: 100%;
}

.errorText {
  justify-content: center;
  display: flex;
  color: #fa8f6b;
}

.loadingText {
  color: $font-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 6px 12px;
  font-weight: 400;
  border-radius: 8px;
  background: $bg-green-base;
}

.graphOption {
  color: $font-secondary !important;
  font-size: 12px !important;
}

.activeGraphOption {
  color: $font-dark !important;
  font-size: 12px !important;
  background-color: $bg-grey-dark !important;
}

.vsCurrencyTokenPrice {
  margin-top: 16px;
  display: flex;
  column-gap: 5px;
  color: $font-dark;
  font-size: 12px;
  justify-content: center;

  & .vsCurrencyPrice {
    color: $neutral;
  }
}
