@import "../../../../styles/var";

.row {
  display: flex;
  flex-direction: column;
}

.reward-row {
  display: flex;
  flex-direction: column;
  display: flex;
  gap: 16px;
}

.reward-col {
  display: flex;
  align-items: center;
}

.left-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.my-validators-container {
  display: flex;
  gap: 12px;
  flex-direction: column;
  color: white;
}

.stake-count {
  height: 23px;
  width: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: $font-dark;
  background: $card-bg;
  font-size: 12px;
}

.validator-div {
  display: flex;
  align-items: start;
  gap: 12px;
  img {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    margin-top: 6px;
  }
}

.validator-details {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.validator-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.validator-currency {
  color: $font-dark;
  font-weight: 400;
}

.validator-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  font-size: 12px;
  color: $font-secondary;
}

.show-rewards {
  display: flex;
  flex-direction: column;
  color: $font-dark;
  gap: 16px;
}

.reward-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  background: #f3f3f3;
  img {
    height: 32px;
    width: 32px;
    border-radius: 100%;
  }
}

.reward-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.reward-title {
  font-weight: 400;
  color: $font-dark;
}

.reward-amount {
  font-size: 14px;
  color: $font-secondary;
  opacity: 60%;
  font-weight: 400;
}

.validator-avatar {
  width: 32px;
  height: 28px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(221, 223, 223, 0.8);
  margin-top: 6px;
}

.label {
  color: $font-secondary;
  font-family: $font-family-base;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.total-rewards {
  font-weight: 400;
  color: rgba($font-dark, 0.9);

  & > span {
    color: $font-secondary;
  }
}

.right-col {
  .amount {
    color: rgba($font-dark, 0.9);
  }
  .validator-reward {
    color: $link-green;
  }
}

.rewards-toggle {
  font-size: 12px;
  color: $link-green;
  padding-right: 5px;
}
