@import "../../../styles/var";

.unstake-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: $font-dark;
  font-weight: 600;
  font-size: 14px;
}

.current-stake {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12px;

  & .current-stake-label {
    color: $font-secondary;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    margin: 6px 0px;
  }

  & .current-stake-value {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: $font-secondary;
    line-height: 17.5px;
    border-radius: 12px;
    padding: 0px 12px;
    background-color: $card-bg;
    height: 45px;
  }
}

.label {
  font-size: 14px;
  font-weight: 650;
  line-height: 24px;
  color: $font-secondary;
}

.alert {
  display: flex;
  padding: 12px;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  border: transparent;
  border-radius: 12px;
  background: $bg-grey-dark;
  box-shadow: none;
  backdrop-filter: blur(15px);
  margin-top: 16px;
  margin-bottom: 16px;
  color: $font-dark;

  i {
    font-size: 24px;
    margin-right: 8px;
  }

  img {
    padding-top: 4px;
  }

  h1 {
    font-size: 16px;
    font-weight: bold;
    color: $font-dark;
    margin-bottom: 4px;
  }

  p {
    font-size: 14px;
    line-height: 1.57;
    margin: 0;
  }
  .text {
    color: $font-dark;
    font-family: $font-family-base;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
  }
  .lightText {
    color: $font-dark;
    font-family: $font-family-base;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}
