@import "../../styles/var";

$container-width: 390px;

// Used only on the mnemonic recover page.
// The overall design refactoring is needed, but now the refactoring has been delayed for various reasons.
// For now, it is handled roughly.
$large-container-width: 680px;

html[data-register-page="true"] {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: white;
}

html[data-register-page="true"] body {
  height: 100%;
  background-color: transparent !important;
  overflow: visible !important;
}

html[data-register-page="true"] #app {
  height: 100%;
}

html[data-register-page="true"] #app .container {
  display: flex;
  flex-direction: column;
  background-color: transparent !important;
}

.container {
  width: $container-width;
  margin: 0 auto;

  &:global(.large) {
    width: $large-container-width;
    margin: 0 auto;
  }

  display: flex;
  flex-direction: column;
  background-color: transparent !important;

  :global(.btn) {
    margin-left: 0;
    margin-right: 0;
  }

  :global(.btn-block + .btn-block) {
    margin-top: 14px;
  }

  .logoContainer {
    // margin-top: 40px;

    display: flex;
    flex-direction: column;

    .logoInnerContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 32px 0;

      &.justify-center {
        justify-content: center;
      }

      .icon {
        // height: 100px;
        width: 80px;
        // position: absolute;
        // top: 5px;
        // right: 45%;
      }

      .logo {
        width: 200px;
        margin-left: 218px;
        filter: invert(100%);
        opacity: 0.3;
      }

      .logoInnerContainer {
        margin-top: 8px;
        margin-left: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;

        .logo {
          height: 100px;
        }

        .paragraph {
          font-size: 16px;
          line-height: 1;
        }

        .brandText {
          height: 80px;
          margin-left: 18px;
        }
      }
    }

    .introBrandSubTextContainer {
      margin-top: 16px;
      height: 14px;

      .introBrandSubText {
        display: block;
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
    }
  }

  .title {
    font-size: 24px;
    letter-spacing: -1.07px;
    margin-bottom: 24px;

    color: $font-dark;
  }
  .newMnemonicContainer {
    border-radius: 12px;
    background: $card-bg;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family-base;
  }
  .copyImage {
    cursor: pointer;
    margin-right: 20px;
  }
  .newMnemonic {
    font-family: $font-family-base;
    font-size: 16px;
    letter-spacing: -0.36px;
    color: $font-dark;
    padding: 20px 30px;
  }
  .addressInput {
    height: 53px;
    color: $font-dark;
    border: 1px solid $border-grey;
    background: white;
    border-radius: 10px;
    width: 333px !important;
  }
  .addressInput:hover {
    border: 1px solid $border-sky-focus;
  }

  .advancedSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $font-secondary;
    margin-bottom: 20px;
  }

  .bip44PathSection {
    display: flex;
    align-items: baseline;
    color: $font-dark;
    width: 410px;

    & .pathSeperator {
      margin: 5px;
      color: $font-dark;
    }
  }

  .label {
    color: $font-secondary;
    font-size: 14px;
    font-weight: 400;
  }

  .checkbox {
    font-family: $font-family-base;
    font-size: 16px;
    color: $font-secondary;
  }
  .mnemonic {
    font-family: $font-family-base;
    font-size: 16px;
    letter-spacing: -0.36px;
    border-radius: 12px;
    background: white;
    padding: 20px 30px;
    text-align: center;
    color: $font-dark;

    &:read-only {
      background: white;
    }

    &[readonly] {
      background: white;
    }

    &::placeholder {
      font-family: $font-family-base;

      body[data-lang="ko"] & {
        font-family: $font-family-base !important;
      }
    }
  }
  .input {
    font-family: $font-family-base;
    border-radius: 12px;
    color: $font-dark;
    background: white;
    &:hover {
      background: white;
    }
    &:focus {
      background: white;
    }
  }

  .subContent {
    margin-top: 34px;

    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: $font-secondary;
  }

  hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.button {
  height: 48px;
  display: flex;
  border-radius: 8px;
  padding: 12px 18px;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  background: white;
  width: 124px;
  color: $font-dark;
  justify-content: center;
  margin-bottom: 8px;
  border: 1px solid $border-grey;
  box-shadow: none !important;
  font-weight: 400;
}
.button:hover,
.button:focus {
  border: 1px solid $border-sky-focus !important;
}

.btn2 {
  width: 91.5px;
  height: 32px;
  background: white;
  color: $font-dark;
  border: 1px solid $border-grey;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  font-weight: 400;
  box-shadow: none !important;
}
.btn2:hover {
  opacity: 0.8;
  background: white;
  border: 1px solid $border-grey;
}

.btn2:disabled {
  color: $neutral;
  cursor: not-allowed;
  background: $bg-grey-dark !important;
  border: 1px solid transparent;
}

.introIcon {
  position: absolute;
  right: 13px;
  top: 50%;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: #485cce;
  }
}

.dialog {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  .content {
    width: 420px;
    box-sizing: border-box;
    padding: 20px 30px;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
    background: #fff;
    text-align: center;
  }
}
.titleText {
  color: $font-secondary;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 27px;
  margin-top: 9px;
}
.card {
  display: flex;
  padding: 18px;
  background: $card-bg;
  cursor: pointer;
  border-radius: 12px;
  align-items: center;
  gap: 14px;
  color: $font-dark;
  max-width: 390px;
}

.cardTitle {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 6px;
  color: $font-dark;
}
.cardText {
  width: 252px;
  font-size: 14px;
  color: $font-secondary;
  font-weight: 400;
}

.mainpageOuterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainpageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 390px;
  padding: 0px;
}
.migrateContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 390px;
  margin-left: 22%;

  h1 {
    color: $font-dark;
    font-weight: 500;
  }
}

.mainpageTitle {
  font-size: 32px;
  font-weight: 400;
  color: $font-dark;
  width: 390px;
}
.backButton {
  display: flex;
  text-align: left;
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid $border-grey;
  width: min-content;
}
.pageTitle {
  font-size: 32px;
  color: $font-dark;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}
.newMnemonicText {
  font-size: 18px;
  color: $font-secondary;
  margin-bottom: 10px;
  font-weight: 400;
}

.ledgerContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 390px;
  height: 100%;
  position: relative;

  .ledgerFormGroup {
    margin-bottom: 0px;
  }

  & .invalid-feedback {
    margin-top: 0px !important;
  }
}

.welcomeText {
  font-size: 36px;
  color: $font-dark;
  font-weight: 400;
}

.passwordValidationChecklist {
  display: flex;
  row-gap: 5px;
  flex-direction: column;

  .passwordValidationItem {
    display: flex;
    column-gap: 10px;
    align-items: center;

    & img {
      width: 16px;
      height: 16px;
    }
  }

  .passwordCheclistValid {
    font-weight: 500;
    font-size: 14px;
    color: $font-dark;
  }

  .passwordCheclistInvalid {
    font-weight: 500;
    font-size: 14px;
    color: $bg-red-40;
  }
}

.networkDropdownContainer {
  & .label {
    color: $font-secondary;
    font-size: 14px;
    font-weight: 400;
  }
}

.networkDropdown {
  width: 100% !important;
}

.inputFormGroup {
  margin-bottom: 10px !important;
}
