@import "../../../../styles/var";

.govt-proposal {
  color: $font-dark;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 12px;
  padding: 18px;
  background: $bg-grey;
}

.govt-proposal-row-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .top-div {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .proposal-number {
      color: $font-secondary;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
    }

    .proposal-title {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
.proposal-duration-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .proposal-duration-container {
    display: flex;
    gap: 16px;

    .proposal-duration {
      display: flex;
      flex-direction: column;
      gap: 6px;
      font-size: 12px;
      font-weight: 400;

      .proposal-duration-title {
        color: $font-secondary;
      }

      .proposal-duration-date {
        color: $font-dark;
        font-size: 14px;
      }
    }
  }
}
