@import "../../../styles/var";

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.3px;
  color: $font-dark;
  margin-bottom: 16px;
}

.paragraph {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: $font-secondary;
  margin-bottom: 28px;
}

.ledgerModalBody {
  background-color: white;
  color: $font-dark;
}

.ledgerModalBackdrop {
  background: rgba($bg-dark, 0.6);
  backdrop-filter: blur(3px);
  opacity: 1 !important;
}
