@import "../../../styles/var";

.balance-card {
  margin-top: 32px;
  color: $font-dark;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.balance-field {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 6px;
}

.priceChangesGreen {
  color: $bg-green-dark;

  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  .changeInPer {
    color: $bg-green-dark;
  }
}

.priceChangesOrange {
  color: #f9774b;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  .changeInPer {
    color: #f9774b;
  }
}

.balance {
  font-size: $lg;
  display: flex;
  gap: 8px;
  font-family: Lexend;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.denom {
  color: #a1a3a3;
  // color: var(--grey-grey-700, #556578);
}

.portfolio {
  padding: 0px;
  cursor: pointer;
  width: 100px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent !important;
  backdrop-filter: blur(10px);
  font-size: 14px;
  border-radius: 100px;
  color: white;
  background: $bg-dark;
}

.portfolio:hover {
  opacity: 0.8;
  box-shadow: none;
}

.portfolio:focus {
  color: #fff;
  opacity: 0.9;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.inUsd {
  color: #444848;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.reward {
  font-size: $xl;
  cursor: pointer;
}

.view-details {
  cursor: pointer;
  height: 27px;
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 5px;
  border-radius: 100px;
  backdrop-filter: blur(10px);
  background: transparent;
  border: 0px;
  color: white;
  box-shadow: none;
  width: 95px;
  font-size: 12px;
}

.day {
  color: #a1a3a3;
  font-size: 14px;
}

.changeInDollars-green {
  color: var(--green-green-500-vibrant-green, #2de376);
}

.changeInDollars-orange {
  color: #f9774b;
}

.increaseInDollarsGreen {
  color: $bg-green-dark;
}

.increaseInDollarsOrange {
  color: #f9774b;
}

.increaseInPer {
  color: white;
}

.positive {
  color: var(--green-green-500-vibrant-green, #2de376);
}

.negative {
  color: #f9774b;
}

.btnContainer {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.buy {
  width: 90px;
}
