@import "../../../styles/var";

.rowSubtitle {
  font-size: 14px;
  font-weight: 400;
  color: $font-secondary;
  display: flex;
  column-gap: 4px;
  align-items: center;
  // margin-left: 10px;
}

.container {
  padding: 16px;
  margin: 0px -12px;
  font-family: $font-family-base;
  width: 333px;
  color: $font-dark;
}

.title {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 16px;
  color: $font-dark;
}

.activityCol {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 3px;
}

.govActivityHeading {
  display: flex;
  justify-content: space-around;
}
.govImage {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.hr {
  border: none;
  height: 0.5px;
  background-color: rgba($font-secondary, 0.2);
}

.activityRow {
  font-style: Lexend;
  color: $font-dark;
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  justify-content: space-between;
  padding: 16px 0;
}

.middle {
  // margin-left: 15px;
  align-items: baseline;
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 6px;
}
