@import "../../styles/var";

.input,
.input:hover,
.input:focus {
  background: transparent;
  color: $font-dark;
  border: none !important;
  box-shadow: none !important;
  padding-left: 0px;
  padding-right: 0px;
  height: 25px;
}
