@import "../../styles/var";

.label {
  color: $font-dark;
  font-family: $font-family-base;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}
.input {
  resize: none;
  box-shadow: none !important;
  color: $font-dark !important;
  height: 48px !important;
  font-weight: 400 !important;
  border: 1px solid #d0d1d1;
  border-radius: 12px;
  padding: 12px 18px;
  background: transparent;
}

.input:focus {
  opacity: 0.9;
  border: 1px solid $border-sky-focus !important;
}
