@import "../../styles/var";

.capslockTooltipArrow {
  left: 10px !important;
}
.text {
  margin-top: 24px;
  color: $font-dark;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  opacity: 0.6;
}
.input {
  background: transparent;
  margin-bottom: none;
  color: $font-dark;
  font-family: Lexend;
  box-shadow: none !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  min-width: 285px;
  &:hover {
    background: transparent;
    box-shadow: none !important;
    color: $font-dark;
  }
  &:focus {
    background: transparent;
    box-shadow: none !important;
    color: $font-dark;
  }
  &::placeholder {
    color: $font-dark;
  }
}
.password-input-container {
  margin-top: 8px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  background: $bg-grey;
  border-radius: 10px;
  color: $font-dark;
  border: 1px solid transparent;

  .formGroup {
    background: transparent;
    width: 100%;
  }

  &:hover {
    border: 1px solid $border-sky-focus;
  }
  &:focus {
    border: 1px solid $border-sky-focus;
  }
  &::placeholder {
    color: $font-dark;
  }
}
.eye {
  margin-right: 12px;
  cursor: pointer;
}
