@import "../../styles/var";

.capslockTooltipArrow {
  left: 10px !important;
}
.text {
  margin-top: 24px;
  color: $font-dark;
  font-family: $font-family-base;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  opacity: 0.6;
}
.input {
  background: transparent;
  border: none !important;
  color: $font-dark;
  font-family: $font-family-base;
  box-shadow: none !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  min-width: 285px;
  &:hover {
    background: transparent;
    box-shadow: none !important;
    color: $font-dark;
  }
  &:focus {
    background: transparent;
    box-shadow: none !important;
    color: $font-dark;
  }
  &::placeholder {
    color: $font-dark;
  }
}
.password-input-container {
  margin-top: 8px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border-radius: 10px;
  color: $font-dark;
  border: 1.5px solid $border-grey;

  .formGroup {
    background: transparent;
    margin-bottom: 0px !important;
    width: 100%;
  }

  &:hover {
    border: 1.5px solid $border-sky-focus;
  }
  &:focus {
    border: 1.5px solid $border-sky-focus;
  }
  &::placeholder {
    color: $font-dark;
  }
}
.eye {
  margin-right: 12px;
  cursor: pointer;
}

.floating-group {
  position: relative;
  width: 100%;

  .input {
    padding-top: 18px;
    border: none !important;
    margin-bottom: 0px !important;
  }

  .floating-label {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    font-size: 14px;
    color: $font-dark;
    opacity: 0.6;
    transition: 0.2s ease all;
    pointer-events: none;
  }

  .input:focus + .floating-label,
  .input:not(:placeholder-shown) + .floating-label {
    top: 6px;
    font-size: 11px;
    opacity: 1;
    background: $bg-grey;
    padding: 0 4px;
    left: 10px;
  }
}
