.input {
  margin-bottom: 20px !important;
  background: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
}

.container {
  label {
    color: white !important;
  }
}

.btnClass {
  background-color: white;
  color: black;
}
