@import "../../styles//var";

.searchInput {
  background: transparent;
  border: none;
  width: 260px;
  color: $font-dark;
  font-weight: 400;
  &::placeholder {
    color: $font-dark;
  }
}

.searchInput:disabled {
  cursor: not-allowed;
}
